/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
    background: #FFFEF8;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
    margin-top: 60px;
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
    font-weight: 400;
}

nav li a {
    text-decoration: none;
    color: inherit;
}

nav li a.active {
    font-weight: 700;
    color: black
}

header nav ul li img {
    width: 22px;
    height: 22px;
    filter: brightness(1) contrast(2); /* Augmente le contraste de l'image (la rend plus foncée) */
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
    margin: auto;
    width: 80%;
    height: auto;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

#contact {
	width: 50%;
    margin: auto;
}

#contact > * {
	text-align: center;

}

#contact h2{
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


/* Styles pour les boutons des filtres */
.filters {
    max-width: 585px;
    height: 38px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.filters button {
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    height: 36px;
    padding: 0 15px;
    border-radius: 60px;
    border: 1px solid #1D6154;

    /* État par défaut (Non sélectionné) */
    background-color: transparent; /* Fond transparent */
    color: #1D6154; /* Texte vert */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

/* État sélectionné (quand le bouton est cliqué, géré par une classe active) */

.filters button.active {
    background-color: #1D6154;
    color: white;
}

.filters button:hover {
    background-color: #1D6154; 
    color: white; 
}


/* Styles pour la page de connexion "login" */

body#login-page {
	background-color: #FFFEF8;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* Conteneur principal du formulaire */
#formulaire {
	max-width: 400px;
	margin: auto;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* Formulaire */
#formulaire form {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

#formulaire input {
    width: 379px;
	height: 25px; 
    padding: 10px;
    border: none; 
    border-radius: 0; 
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#formulaire h2 {
    text-align: center;
    margin-top: -30px;
    margin-bottom: 30px;
}

#formulaire a {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
}

#formulaire button {
    width: 179px;
	padding: 10px;
	background-color: #1D6154;
	color: white;
	border: none;
	border-radius: 60px;
	cursor: pointer;
    margin: 20px auto 0 auto;
}

/* Footer collé en bas */
footer {
	background-color: white;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

footer nav ul li {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px; 
    font-weight: 300; 
    line-height: 16px; 
    text-align: right; 
}

#login-error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
    display: none; /* Rendu invisible par défaut, le JS gére son affichage */
}


/* Mode Edition */

/* Bannière d'édition */


.edit-banner {
	display: none;
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	background-color: #000000;
	color: white;
	align-items: center;
	justify-content: center;
	gap: 10px;
	font-size: 14px;
	font-weight: 400;
	z-index: 9999; /* Assure que la bannière est au-dessus de tout */
}

.edit-banner i {
	font-size: 12px;
}

/* Bouton édition projets */
.btn-edit {
    display: none;
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    margin-left: 0;
    gap: 8px;
    transform: translateY(-15px);                                 /* Remonte l'ensemble du bouton de quelques pixels */
}

#portfolio {
	margin : 50px 0;
}

.portfolio-btn-admin {
	display: flex;
    justify-content: center; /* Centre l'ensemble Titre + Bouton */
    align-items: center;
    gap: 20px; 
    margin-bottom: 1em;
}

.portfolio-header-admin h2 {
    margin: 0; 
}


/* Première modale */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Fond semi-transparent */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Rendu visible par JS */
    z-index: 2000;                                                          /* Assure d'être au-dessus de tout, y compris la bannière admin */
}

.modal-wrapper {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 630px; 
    width: 100%;
    height: 688px;
    overflow-y: hidden;
    position: relative;
    display: flex;
    flex-direction: column; 
}

.modal-wrapper h3 {
    font-family: 'Work Sans', sans-serif;
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

.close-button {
    position: absolute;
    top: 25px;
    right: 30px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.modal-gallery {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 10px;
    margin: 0 60px;
    max-height: none;
}

.modal-button {
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    padding: 10px 30px;
    border-radius: 60px;
    border: none;
    cursor: pointer;
    display: block; 
    width: 250px; /* Largeur plus petite */
    margin: 60px auto 0 auto;
    text-align: center;
}

.modal-separator {
    width: 420px; 
    height: 0; 
    border-top: 1px solid #B3B3B3; 
    margin: 70px auto 30px auto; 
}

/* Grille gallerie de la modale1 */

.modal-gallery {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px 6px;
    margin: 0 90px;
    max-height: 400px;
    overflow-y: auto; /* Le scroll n’apparaît que si nécessaire */
}

.modal-gallery::-webkit-scrollbar {
    display: none; /* Masque la barre sur Chrome / Edge / Safari */
}

.gallery-modal-item {
    position: relative;
    margin: 0;
    padding: 0;
    width: 78px;
    height: 104px;
    flex-shrink: 0; /* Ajout pour empêcher le rétrécissement */
}

.gallery-modal-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
}

/* Bouton de suppression (Corbeille) */
.delete-work-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 2px;
    width: 18px;
    height: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.delete-work-btn:hover {
    background-color: darkred;
}


/* Deuxième modale */
/* Styles pour la zone de téléversement */

#image-input {
    display: none !important;
}

.image-upload-area {
    background-color: #E8F1F6;
    border-radius: 3px;
    height: 169px; /* Hauteur fixe de la maquette */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.image-upload-area .icon-upload-photo {
    color: #B9C5CC;
    font-size: 70px;
    margin-bottom: 5px;
}

.image-upload-area .btn-add-photo {
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #306685;
    background-color: #CBD6DC;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 5px;
}

.image-upload-area p {
    font-size: 10px;
    color: #444;
}

.modal-add-view { /* Masque la vue "Ajout Photo" par défaut */
    padding-top: 0; 
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
    display: none;
    padding: 0 50px;
}

.modal-add-view .image-upload-area {
    margin-top: 10px;
    max-height: 169px;
}

.modal-add-view .modal-validate-btn {
    margin-top: 20px; 
}

.modal-add-view .modal-separator {
    margin-top: 30px;
}

.modal-add-view .modal-validate-btn {
    margin-top: 20px;  
}

/* Style de l'image de prévisualisation (géré par JS) */

.image-preview {
    max-width: 100%;
    height: 169px;
    object-fit: contain;
    display: none; /* Masqué par défaut */
}

.return-button {
    position: absolute;
    top: 25px;
    left: 30px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

#add-work-form {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 7px;
    margin-top: -20px;
}

#add-work-form label {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 5px;
}

#add-work-form input[type="text"],
#add-work-form select {
    width: 420px; 
    height: 51px;
    padding: 0;
    font-size: 14px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09); 
    border: none;
    border-radius: 0;
    margin-left: auto;
    margin-right: auto;
}

.modal-validate-btn {
    background-color: #A7A7A7;
}
